body {
  display: grid;
  grid-template-columns: 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw ;
  grid-template-rows: 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw;
  color: black;
  background-color: darkred;
  margin: 20px;
}

header{
  grid-area: 5/21/2/4;
  background-color:lightcoral;
}

h1{
  grid-area: 1/14/1/1;
  text-align: center;
  font-size: 60px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h2{
  text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
nav{
  grid-area: 5 / 3 / 10 /-20;
  margin-top: 15px;
  padding: 10px;
  background-color: lightcoral;
}

nav > a{
  display: block;
  margin-top: 7px;
  font: bold 13pt/24px sans-serif;
  color: darkred;
  background-color:tomato;
  font-size: 20px;
  text-decoration:none;

}

nav > a:hover{
  color: white;
  text-decoration: none;
  background-color: crimson;
}
main {
  grid-area: 15 / 17 / 5 / 6;
  margin-right: -339px;
  margin-top: 15px;
  padding-top: 35px;
  padding-left: 25px;
  background-color: salmon;
  border: 3px dotted orange;
}
.gallery img {
	width: 150px;
	padding: 4px;
	filter:grayscale(100%);
	transition: 1s;
	border-radius: 4px;
}
.gallery img:hover{
	box-shadow: 2px 2px rgba(0, 140,186, 0.5);
	filter:grayscale(0);
	transform: scale(1.1);
}

footer {
  grid-area:25/22/16/6;
  background-color: white;
  border: 5px dotted slategray;
}
footer > a{
  top-margin: 10px;
  color:black;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;

}
footer >a:hover {
  background-color: darkred;
  color: white;
}
